@model IEnumerable<MatchViewModel>

<h2>График на мачовете</h2>
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Домакин</th>
            <th>Домакин - голове</th>
            <th>Гост - голове</th>
            <th>Гост</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
        <tr>
            <td>@match.MatchDate.ToShortDateString()</td>
            <td>@match.HomeTeam</td>
            <td>@match.HomeTeamGoals</td>
            <td>@match.AwayTeamGoals</td>
            <td>@match.AwayTeam</td>
        </tr>
        }
    </tbody>
</table>